{% extends 'base/base.html' %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
  <h2>Docente Nuevo</h2>

  <form action="." method="post">
    <div class="row">
      <div class="form-group col-sm">
        <label for="nombres">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="nombres"
          aria-describedby="nombresHelp"
          placeholder="Nombres"
        />
        <small id="nombresHelp" class="form-text text-muted"
          >Ingrese los nombres</small
        >
      </div>
      <div class="form-group col-sm">
        <label for="apPaterno">Apellido paterno</label>
        <input
          type="text"
          class="form-control"
          id="apPaterno"
          aria-describedby="apPaternoHelp"
          placeholder="Apellido Paterno"
        />
        <small id="apPaternoHelp" class="form-text text-muted"
          >Ingrese el apellido paterno</small
        >
      </div>
      <div class="form-group col-sm">
        <label for="apMaterno">Apellido materno</label>
        <input
          type="text"
          class="form-control"
          id="apMaterno"
          aria-describedby="apMaternoHelp"
          placeholder="Apellido Paterno"
        />
        <small id="apMaternoHelp" class="form-text text-muted"
          >Ingrese el apellido materno</small
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="ejemplo@ex.com"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Nosotros no compartiremos esta información</small
        >
      </div>
      <div class="form-group col-sm">
        <label for="celular">Celular</label>
        <input
          type="text"
          class="form-control"
          id="celular"
          aria-describedby="celularHelp"
          placeholder="999111222"
        />
        <small id="celularHelp" class="form-text text-muted"
          >Nosotros no compartiremos esta información</small
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm">
        <label for="usuario">Nombre de usuario</label>
        <input
          type="text"
          class="form-control"
          id="usuario"
          aria-describedby="usuarioHelp"
          placeholder="usuario_ejemplo"
        />
        <small id="usuarioHelp" class="form-text text-muted"
          >El nombre de usuario no puede tener espacios</small
        >
      </div>
      <div class="form-group col-sm">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="******"
        />
      </div>
      <div class="form-group col-sm">
        <label for="password2">Repita Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          placeholder="******"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
