{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<h3>Registrar Cursos de Examen</h3>
<div class="row">
  {% csrf_token %}
  <div class="form-group col-sm-12 col-md-4">
    <label for="curso">Curso</label>
      <select class="form-control" id="curso" name="curso">
        <option value="0">---------</option>
        {% for curso in cursos %}
          <option value="{{ curso.id }}">
            {{ curso }}
          </option>
        {% endfor %}
      </select>
  </div>

  <div class="form-group col-sm">
    <label for="cantidad_preguntas">Cantidad preguntas</label>
    <input
      type="text"
      class="form-control"
      id="cantidad_preguntas"
      name="cantidad_preguntas"
    />
  </div>
  <div class="form-group col-sm">
    <label for="favor">Puntaje de preguntas a favor</label>
    <input
      type="text"
      class="form-control"
      id="favor"
      name="favor"
    />
  </div>
  <div class="form-group col-sm">
    <label for="contra">Puntaje de preguntas en contra</label>
    <input
      type="text"
      class="form-control"
      id="contra"
      name="contra"
    />
  </div>
  <div class="form-group col-sm">
    <label for="sin_responder">Sin responder</label>
    <input
      type="text"
      class="form-control"
      id="sin_responder"
      name="sin_responder"
    />
  </div>
</div>
<button type="submit" id="guardar_curso" class="btn btn-primary btn-lg">Guardar Curso</button>

<div class="row">
  <h4>Buscar Preguntas</h4>
</div>
<div class="row">
  <div class="form-group col-sm">
    <label for="docente">Docente</label>
      <select class="form-control" id="docente" name="docente">
        <option value="0">---------</option>
        {% for docente in docentes %}
          <option value="{{ docente.id }}">
            {{ docente }}
          </option>
        {% endfor %}
      </select>
  </div>
  <div class="form-group col-sm">
    <label for="curso_buscar">Curso</label>
      <select class="form-control" id="curso_buscar" name="curso_buscar">
        <option value="0">---------</option>
        {% for curso in cursos_examen %}
          <option value="{{ curso.id }}">
            {{ curso }}
          </option>
        {% endfor %}
      </select>
  </div>
  <div class="form-group col-sm">
    <label for="nombre_pregunta">Nombre Pregunta</label>
    <input type="text" class="form-control" id="nombre_pregunta" name="nombre_pregunta">
  </div>
  <div class="form-group col-sm" style="margin-top: 1.5em">
    <button type="submit" id="buscar_pregunta" class="btn btn-success btn-lg">Buscar Pregunta</button>
  </div>
</div>
<table class="table table-striped" id="table_preguntas_add">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Curso</th>
      <th scope="col">Docente</th>
      <th scope="col">Contenido</th>
      <th scope="col">Agregar</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<table class="table table-striped" id="table_pregunta_examen">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Curso</th>
      <th scope="col">Docente</th>
      <th scope="col">Contenido</th>
      <th scope="col">Quitar</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
  <div class="form-group col-sm">
    <label for="asdf">asdf</label>
    <input
      type="text"
      class="form-control"
      id="asdf"
      name="asdf"
      aria-describedby="asdfHelp"
      placeholder="asdf"
    />
  </div>
  <div class="form-group col-sm">
    <label for="asdf">asdf</label>
    <input
      type="text"
      class="form-control"
      id="asdf"
      name="asdf"
      aria-describedby="asdfHelp"
      placeholder="asdf"
    />
  </div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/templates/examen/nuevo_agregar_preguntas.js' %}"></script>
{% endblock %}
