{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Nuevo Examen</h2>

  <form action="." method="post">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-sm">
        <label for="nombre">Nombre Examen</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Examen admisión de exonerados"
        />
      </div>
      <div class="form-group col-sm">
        <label for="tipo">Tipo de Examen</label>
        <input
          type="text"
          class="form-control"
          id="tipo"
          name="tipo"
          placeholder="Exonerados"
        />
      </div>
      <div class="form-group col-sm">
        <label for="duracion">Duración en minutos</label>
        <input
          type="number"
          class="form-control"
          id="duracion"
          name="duracion"
          placeholder="60"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm">
        <label for="nota_maxima">Nota Máxima</label>
        <input
          type="text"
          class="form-control"
          id="nota_maxima"
          name="nota_maxima"
          placeholder="100.0"
        />
      </div>
      <div class="form-group col-sm">
        <label for="puntaje_maximo">Puntaje Máximo</label>
        <input
          type="text"
          class="form-control"
          id="puntaje_maximo"
          name="puntaje_maximo"
          placeholder="20.0"
        />
      </div>
      <div class="form-group col-sm">
        <label for="universidad">Universidad</label>
          <select class="form-control" id="universidad" name="universidad">
            <option value="0">---------</option>
            {% for universidad in universidades %}
              <option value="{{ universidad.id }}">
                {{ universidad.nombre }}
              </option>
            {% endfor %}
          </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/templates/examen/nuevo.js' %}"></script>
{% endblock %}
