{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
<h1>{{ examen.universidad.nombre }}</h1>

<h2>{{ examen.nombre_examen }}</h2>

<h3>Tipo Examen: {{ examen.tipo_examen }} | Duración Minutos: {{ examen.duracion_minutos }}</h3>

<h3 id="inicio_examen">Inicio: {{ examen_iniciado.inicio }}</h3>
<h3 id="entrega_examen">Hora máxima de entrega: {{ hora_maxima_entrega}}</h3>

<h4 id="mensaje_error">{{ msg_no_valido }}</h4>

<form id="formulario_examen">
{% for curso in cursos %}

  <h4>{{ preguntas|get_nombre_curso:curso }}</h4>
  {% for pregunta in preguntas|get_item:curso %}

      {{ pregunta.contenido|safe}}
      {% for alternativa in pregunta.alternativas.all %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions-{{ alternativa.id }}" id="{{ alternativa.id }}" value="{{ alternativa.id }}">
          <label class="form-check-label" for="{{ alternativa.id }}">
            {{ alternativa.alternativa|safe }}
          </label>
        </div>
      {% endfor %}

  {% endfor %}

{% endfor %}

<button type="button" id="mandar_examen" class="btn btn-primary">Mandar Examen</button>
</form>

</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/templates/examen/rendir.js' %}"></script>
{% endblock %}
