{% extends 'base/base.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<h2>Listado de Cursos</h2>

<form action="." method="get">
  <div class="row">
    <div class="form-group col-sm">
      <label for="nombre">Nombre Curso</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        placeholder="Fisica I"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
</form>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Siglas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for curso in page_obj %}
        {# Each "contact" is a Contact model object. #}
        <tr>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.siglas }}</td>
          <td>
            <a class="btn btn-warning" href="{% url 'examen:view_curso_UD' pk=curso.id %}" role="button">
              <i class="fas fa-fw fa-pen"></i>
              Detalles
            </a>
          </td>
        </tr>
        
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
