{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Actualizar datos Pregunta</h2>

  <form action="." method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <div id="valores-alternativas">
    {% for alternativa in alternativas %}
    <div id="val-{{ alternativa.id }}">
      <input type='hidden' id={{alternativa.id}} value='{{ alternativa.alternativa }}'>
      <input type='hidden' value={{ alternativa.correcta }}>
    </div>
    {% endfor %}
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.0.alternativa.id_for_label }}">Alternativa 1 (respuesta correcta aquí)</label></br>
          {{ alt_forms.0.media }}
          {{ alt_forms.0.as_p }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.1.alternativa.id_for_label }}">Alternativa 2</label></br>
          {{ alt_forms.1.media }}
          {{ alt_forms.1.as_p }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.2.alternativa.id_for_label }}">Alternativa 3</label></br>
          {{ alt_forms.2.media }}
          {{ alt_forms.2.as_p }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.3.alternativa.id_for_label }}">Alternativa 4</label></br>
          {{ alt_forms.3.media }}
          {{ alt_forms.3.as_p }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.4.alternativa.id_for_label }}">Alternativa 5</label></br>
          {{ alt_forms.4.media }}
          {{ alt_forms.4.as_p }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/templates/pregunta/detalles.js' %}"></script>
{% endblock %}
