{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Actualizar datos Pregunta</h2>

  <form action="." method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    {% comment %}{{ alt_correcta_form.media }}{% endcomment %}
    {% comment %}{{ alt_correcta_form.as_p }}{% endcomment %}

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.0.alternativa.id_for_label }}">Alternativa 1 (respuesta correcta aquí)</label></br>
          {{ alt_forms.0.alternativa }}
          {{ alt_forms.0.media }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.1.alternativa.id_for_label }}">Alternativa 2</label></br>
          {{ alt_forms.1.alternativa }}
          {{ alt_forms.1.media }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.2.alternativa.id_for_label }}">Alternativa 3</label></br>
          {{ alt_forms.2.alternativa }}
          {{ alt_forms.2.media }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.3.alternativa.id_for_label }}">Alternativa 4</label></br>
          {{ alt_forms.3.alternativa }}
          {{ alt_forms.3.media }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <label for="{{ alt_forms.4.alternativa.id_for_label }}">Alternativa 5</label></br>
          {{ alt_forms.4.alternativa }}
          {{ alt_forms.4.media }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/templates/pregunta/detalles.js' %}"></script>
{% endblock %}
