{% extends 'base/base.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Nueva Facultad</h2>
  <h3 style="color: green">{{ msg }}</h3>

  <form action="." method="post">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-sm">
        <label for="nombre">Nombre de facultad</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Facultad de ingeniería"
        />
      </div>
      <div class="form-group col-sm">
        <label for="universidad">Universidad</label>
          <select class="form-control" id="universidad" name="universidad">
            {% for universidad in universidades %}
              <option value="{{ universidad.id }}">
                {{ universidad.siglas }}
              </option>
            {% endfor %}
          </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
